@font-face {
  font-family: "FranklingGothicBold";
  src: local("FranklingGothicBold"),
    url(../../fonts/Franklin_Gothic_Bold.ttf) format("truetype");
}

.logo {
  cursor: pointer;
  font-family: "FranklingGothicBold";
}
